* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #27374d;
  height: 100vh;
}

#board {
  border: 3px solid skyblue;
  background-color: rgb(51, 51, 51, 0.286);
  border-radius: 10px;
}
